{% extends 'objctify/base.html' %}
{% load staticfiles %}


{% block head_block %}
    <style>
    </style>
    <script>
    </script>
{% endblock %}

{% block content_block %}
    <div class="row center-text">
        <h1 class="title">Beauty Is Dataful</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                Beauty is in the eye of the beholder, or so they say.
                I don't agree with this, my theory is there's some underlying characteristics of peoples faces that are more attractive than others, and in this experiment, I set out to discover what those are.
                We begin by looking at <a href="http://www.reddit.com/r/RateMe">r/RateMe</a>, a subreddit where users can submit pictures of themselves and commenters will provide constructive criticism.
            </p>

            <p>
                Looking at a typical submission, I can see that a lot of commenters rate the subject on the out-of-ten scale, 1 being very unattractive, 10 being very attractive.
                Taking the average of these ratings could be a useful gauge of a users attractiveness.
                Thus, the first step to identifying attractiveness was to scrape all the submissions off r/RateMe, filtering out submissions where there was less than 3 comments that rate the subject.
                Leaving us with 3,342 submissions, 1798 from women, and 1544 from men.
            </p>
            <p>
                We generate a histogram of commenter ratings.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Female Ratings.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Male Ratings.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Female Attractiveness.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Male Attractiveness.png' %}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                If the out-of-ten rating scale was linear, then an average person should score a 5.
                Instead, we see in this data that the bell curve is centered around 7.5 ish, half way between 5 and 10.
                Either reddit users are all above average, or rating a user below a 5 feels mean.

                That's not too surprising, but instead look at the number of ratings these submissions got, Women are far more likely to get rated out-of-10 than the men.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Female Submissions Number of Ratings.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Male Submissions Number of Ratings.png' %}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                TODO, compare against count of comments, maybe women get more comments, or maybe people dont rank men

                I noticed some of the comments left were <a href="https://www.reddit.com/r/Rateme/comments/23eisl/18f_please_be_honest/ch2jszi/">incredibly mean</a>,
                so in an attempt to filter out trolling I removed outlier ratings.
                Any rating that was further than 2 standard deviations from the median was considered an outlier.

                Lets sort these submissions by their average ratings and plot with their standard deviation.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Female Submissions Sorted by Average Rating.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Male Submissions Sorted by Average Rating.png' %}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="{% static 'img/beautyisdataful/Landmarks.jpg' %}" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <p>
                Okay, so what we're interested in here, is what features do the top attractive people have, that the bottom least attractive people don't have.
                For that we need to use computer vision to analyse the images submitted by the users.
                I use a <a href="http://dlib.net/">facial landmark detector</a>, and a <a href="https://github.com/patrikhuber/eos">3D face mesh fitting library</a>.
                The landmark detector (Left), looks for faces in images, and identifies a number of points around the chin, eyes, nose, mouth, etc.
                While the 3D face fitting (Right) takes a 3D model of the average face, and changes the features (e.g, brow shape, chin width, eye location) until it aligns closely with the image and the detected landmarks.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="{% static 'img/beautyisdataful/Mesh.jpg' %}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Now we can calculate the 3D face shape of all of our r/RateMe users, and attempt to find the features that are more common amongst the attractive users.
                Below we show the average faces generated from our users.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <iframe src="{% url 'averageFaces' %}" style="width:100%; height:400px"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                And here we show the same data, morphing from least to most attractive
            </p>
        </div>
        <div class="col-sm-4">
            <iframe src="{% url 'morphFaces' %}" style="width:100%; height:400px"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                With this data we can train a machine learning algorithm to identify the face shape that reddit deems most attractive.
                We can use the this algorithm to predict a users attractiveness.

                We can then slightly modify the facial features of the image, until we maximise the attractiveness score.
                We repeat this step multiple times to maximise the attractiveness score, and then rerender the image with the new modified facial features.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Female Submissions Sorted by Average Rating.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Male Submissions Sorted by Average Rating.png' %}" class="img-responsive">
        </div>
    </div>

{% endblock %}