{% extends 'objctify/base.html' %}
{% load staticfiles %}


{% block head_block %}
    <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
    <style>
        #message {
            position: fixed;
            top: 64px;
            width:70px;
            height:50px;
            border-bottom-left-radius: 50px;
            right: 0;
            cursor: pointer;
            z-index:9999;
            text-align:right;
            padding:0;
            padding-right:10px;
        }
    </style>
    <script>
    function changeSrc(target, num) {
        var currSrc = $(target).attr("src");
        currSrc = currSrc.split("_")[0];
        currSrc = currSrc + "_" + num + ".jpg";
        $(target).attr("src", currSrc)
    }
    $(function() {
        $("#example_carousel > ul > li > img").hover(function(event){
            changeSrc(event.target, 2);
        }, function(event) {
            changeSrc(event.target, 1);
        });
        $("#example_carousel > ul > li > img").click(function(event){
            if ($(event.target).attr("toggleOrig") === "true") {
                $(event.target).attr("toggleOrig", false);
                changeSrc(event.target, 2);
            }else {
                $(event.target).attr("toggleOrig", true);
                changeSrc(event.target, 1);
            }
        });
    });
    </script>
{% endblock %}

{% block content_block %}
    <div class="row">
    <a href="{% url 'author' %}">
        <div  id="message" class="alert alert-warning">
            Hire<br>Me
        </div>
    </a>
    </div>
    <div class="row center-text">
        <h1 class="title">Beauty Is Dataful</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                Beauty is in the eye of the beholder, or so they say.
                I disagree, I think there is a fair amount of consensus amongst people, at least within the same culture, about who is attractive, and who is not.
                <br>
                I want to find out what intrinsic characteristics make a person more or less attractive.
                With that knowledge, there's a number of applications we could create.
                For example, we could rank a user's photos helping them choose the most attractive photos to use on social media (Facebook, Tinder, etc.),
                or create instagram or snapchat like filters that would edit the photo to make the subject appear more attractive.
                <a href="{% url 'home' %}">For an example of these, try out the interactive demo on the home page!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <h4>Analysing /r/RateMe:</h4>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                To start I'll need a large dataset containing imagery of people who have been rated in attractiveness.
                I chose <a href="http://www.reddit.com/r/RateMe">/r/RateMe</a>, a subreddit where users submit pictures of themselves and the commenters provide constructive criticism.
                <br>
                It's important to note that Reddit is a highly biased source of this data, and this is in no way a serious scientific endeavour.
            </p>
            <p>
                Looking at a typical submission, I can see that a lot of the commenters rate the subject on the out-of-ten scale, 1 being very unattractive, 10 being very attractive.
                Then, by taking the average of all the commenters' ratings, we can calculate the consensus of how attractive the subject is.
                I wrote a script to scrape all the submissions off /r/RateMe, download their pictures, and look through the comments for out-of-ten ratings, filtering out submissions where there was less than 3 ratings for the subject.
                Leaving us with 3,491 submissions, 1868 from women, and 1623 from men.
            </p>
            <p>
                Let's take a look at our data, how do the commenters tend to rate the users of /r/RateMe? And by taking the average of these ratings, how attractive are the users?
            </p>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/beautyisdataful/Ratings Given to Females.png' %}" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <img src="{% static 'img/beautyisdataful/Ratings Given to Males.png' %}" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <img src="{% static 'img/beautyisdataful/Female Attractiveness.png' %}" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <img src="{% static 'img/beautyisdataful/Male Attractiveness.png' %}" class="img-responsive">
            </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                The obvious thing to see here, is that the out-of-ten rating scale does not appear linear.
                An average looking person should score a 5.
                Instead, we can see that the ratings are centered around 7.5 ish.
                Either reddit users (or those willing to subject themselves to public scrutiny) are all above average, or most rater's shift their range between 5-10, because giving below a 5 feels too mean.
            </p>
            <p>
                That's probably not too surprising, but instead look at the y-axis!
                There's a massive difference in the number of ratings that male and female submissions get.
                Women are far more likely to get a comment rating them out-of-10 than the men.
                After looking further into the data, we can see that women also get a ton more comments on their submissions than the men.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Number of Ratings Per Female Submissions.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Number of Ratings Per Male Submissions.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Number of Comments Per Female Submissions.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Number of Comments Per Male Submissions.png' %}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Keep in mind that submissions with less than 3 ratings were removed from the dataset, hence the sudden drop off in the histograms above.
            </p>
            <p>
                Finally, before we can use this data, we need to clean it up a bit.
                The internet is full of trolls, and a number of the comments and ratings left were incredibly mean.
                I removed any outlier ratings from the dataset, and then rank the submissions by their average ratings.
                The plateaus and lack of variance visible in the male rankings below is due to the lack of ratings given to men.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Female Submissions Sorted by Average Rating.png' %}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/beautyisdataful/Male Submissions Sorted by Average Rating.png' %}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <h4>Training a computer to understand beauty:</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <figure>
                <img src="{% static 'img/beautyisdataful/Landmarks.jpg' %}" class="img-responsive">
                <figcaption class="figure-caption">Lena with detected facial landmarks overlaid.</figcaption>
            </figure>
        </div>
        <div class="col-sm-8">
            <p>
                Okay, what I'm really interested in here, is the characteristics that the top attractive people have, that the bottom, least attractive, people don't have (the shaded grey regions above).
                For that we need to use computer vision to analyse the images submitted by the users.
                Without going in to too much technical detail, I use a <a href="http://dlib.net/">facial landmark detector</a>.
                The landmark detector (Left), looks for faces in images, and identifies a number of key points (or landmarks) around the chin, eyes, nose, mouth, etc.
                From these points we calculate a set of features that we might be interested in, e.g., distances from the eyes, the nose, etc.
            </p>
            <p>
                With this data we can train a machine learning algorithm, a support vector regression, to identify the face shape that reddit deems most attractive.
                We can use this algorithm to predict the attractiveness score of a given face shape.
                Furthermore, since we can give a score to a face shape, then we can keep modifying this shape until we get a higher score.
                Once we've modified the face, maximised the score, we can rerender the original image with the new modified facial features.
                A lot of this work was inspired heavily from a SIGGRAPH'08 paper, <a href="http://leyvand.com/beautification2008/">Data-Driven Enhancement of Facial Attractiveness</a>
            </p>
            <p>
                We can then observe how these features change from the unattractive, to the attractive redditors.
                Below we show the average face, generated from all the faces in our dataset.
                We then animate that average face towards those rated unattractive(left), and attractive(right).
                In reality, the differences are subtle but the animations here have been exaggerated to show the contrast.
            </p>
        </div>
    </div>
    <div class="row">
        <figure>
            <div class="col-xs-12" style="padding:0;">
                <video width="100%" autoplay controls loop>
                  <source src="{% static 'img/beautyisdataful/2D Faces/female.webm' %}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-xs-12" style="padding:0;">
                <video width="100%" autoplay controls loop>
                  <source src="{% static 'img/beautyisdataful/2D Faces/male.webm' %}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
            <figcaption class="figure-caption">Animation of the average face morphing towards less (left) and more (right) attractive features.</figcaption>
        </figure>

    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                We can see that short round faces tend to be unattractive, and longer thinner faces are rated more attractive.
                For women, the angle of the eyes change, and the size of the lips.
                While for men the shape of the chin and face length is more important.
            </p>
            <p>
                We could use this approach to create a "2D beautifier" filter, that would subtly morph people's faces towards the more attractive features, and this is the approach taken by <a href="http://leyvand.com/beautification2008/">Leyvand's SIGGRAPH'08 paper</a>.
                However, this approach has some downsides, it may work well for frontal faces, but once the face turns away from the camera, we start to distort the face in ways that appear unnatural.
                The warping doesnt take into account the perspective change and the 3D structure of the face.
                We'll need to understand how the face is oriented in 3D space in order to solve this problem.
            </p>
        </div>
        <div class="col-sm-4">
            <figure>
                <img src="{% static 'img/beautyisdataful/Mesh.jpg' %}" class="img-responsive">
                <figcaption class="figure-caption">Lena with 3D facial mesh overlaid.</figcaption>
            </figure>

        </div>
    </div>

    <div class="row">
        <h4>Beauty in the third dimension:</h4>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <figure>
                <iframe src="{% url 'averageFaces' %}" style="width:100%; height:400px"></iframe>
                <figcaption class="figure-caption">Interactive 3D environment showing the 5 average faces from the least to most attractive quintile.</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                We need to be able to calculate the 3D face shape of a person even though we are only given a single 2D image of them.
                There are a number of ways to do this, but I used a combination of a <a href="https://github.com/patrikhuber/eos">3D face fitting library</a> and a <a href="http://www.openu.ac.il/home/hassner/projects/CNN3DMM/">CNN trained to output accurate 3D face shapes.</a>
                The CNN uses holistic features in the image to estimate a 3D face model, while the face fitting library uses that 3D model, changing the position, and rotation, until it aligns closely with the image and the detected landmarks.

                We calculate the 3D face shape for all the faces in our RateMe dataset, and from this we create 5 average faces from the from the lowest to the most attractive quintiles.
                Click on the image above to explore these faces in 3D (you'll need a WebGL compatible browser), drag the left click to rotate, right click to move, and scroll to zoom.
                On the right we show an animation morphing between these faces.
            </p>

            <p>
                Again, I then train a machine learning algorithm to identify the face shape that reddit deems most attractive, but this time using 3D features.
                As before, I create a "beautifier" filter that edits a user's photos by morphing the facial features towards the more attractive, and this time it works with a greater range of facial orientations.
                See the results of this experiment below.
            </p>
            <p>
                The face images below are sourced from the US10k dataset, a dataset of many faces that, amongst other things, have been rated in their attractiveness.
                I performed similar experiments using this data and got basically the same results.
                I decided to talk about the reddit dataset here as it is larger, has many more ratings, and is generally more interesting.
                However, I didn't want to recognisably use redditors' faces without their permission, so I'm using the US10Ks publication friendly faces to demonstrate the techniques used.
            </p>
            <p>
                Bainbridge, W.A., Isola, P., & Oliva, A. (2013). The intrinsic memorability of face images. <i>Journal of Experimental Psychology: General. Journal of Experimental Psychology: General</i>, 142(4), 1323-1334.
            </p>
        </div>
        <div class="col-sm-4">
            <figure>
                <iframe src="{% url 'morphFaces' %}" style="width:100%; height:200px"></iframe>
                <figcaption class="figure-caption">Interactive 3D environment animating from the least to the most attractive faces.</figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <figure>
                <div id="example_carousel">
                    <ul>
                        <li><img src="{% static 'img/beautyisdataful/examples/0_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/1_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/7_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/8_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/22_1.jpg' %}"></li>
                        <li class="active"><img src="{% static 'img/beautyisdataful/examples/15_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/24_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/9_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/34_1.jpg' %}"></li>
                        <li><img src="{% static 'img/beautyisdataful/examples/33_1.jpg' %}"></li>
                    </ul>
                    <a class="left carousel-control" role="button">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" role="button">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <figcaption class="figure-caption">Hover or click on the images to see the "beautified" versions.</figcaption>
            </figure>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                That's it! If you want to <a href="{% url 'home' %}">check out an interactive demo of the beautification, see here.</a>
                <br>
                Thanks to all the subscribers of /r/RateMe.
            </p>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-xs-12">#}
{#            <img src="{% static 'img/beautyisdataful/allfaces.jpg' %}" class="img-responsive">#}
{#        </div>#}
{#    </div>#}
{% endblock %}