{% extends 'objctify/base.html' %}
{% load staticfiles %}


{% block head_block %}
    <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ua-parser.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/math.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/msgpack.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/imagewarp/deformation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagewarp/interpolation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagewarp/point.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagewarp/matrix22.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/3dview/OrbitControls.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/3dview/3dview.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/3dview/pca_model.js' %}"></script>
    <script>
        if (!String.prototype.includes) {
             String.prototype.includes = function() {
                 'use strict';
                 return String.prototype.indexOf.apply(this, arguments) !== -1;
             };
         }

        var parser = new UAParser();
        var browser = parser.getBrowser();

        //include the safari canvas resizing code
        if (browser.name.includes("Safari")) {
            var exif = document.createElement('script');
            exif.setAttribute('src',"{% static 'js/exif.ios.js' %}");
            document.head.appendChild(exif);

            var binaryajax = document.createElement('script');
            binaryajax.setAttribute('src',"{% static 'js/binaryajax.js' %}");
            document.head.appendChild(binaryajax);

            var canvasresize = document.createElement('script');
            canvasresize.setAttribute('src',"{% static 'js/canvasResize.js' %}");
            document.head.appendChild(canvasresize);
        }else{
            var exif = document.createElement('script');
            exif.setAttribute('src',"{% static 'js/exif.min.js' %}");
            document.head.appendChild(exif);

            var loadimage = document.createElement('script');
            loadimage.setAttribute('src',"{% static 'js/load-image.all.min.js' %}");
            document.head.appendChild(loadimage);
        }
    </script>
<style>
    body {
        overflow-x: hidden;
    }
    .scrolls-y {
        overflow-x: hidden;
        overflow-y: auto;
        white-space:nowrap
    }

    .imgproved {
    }
</style>
<script>
    var examples = [
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/0_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/0_2.jpg' %}",
                rating: 7.10,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/1_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/1_2.jpg' %}",
                rating: 6.96,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/7_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/7_2.jpg' %}",
                rating: 7.13,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/8_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/8_2.jpg' %}",
                rating: 7.10,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/22_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/22_2.jpg' %}",
                rating: 7.11,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/15_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/15_2.jpg' %}",
                rating: 6.99,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/24_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/24_2.jpg' %}",
                rating: 7.10,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/9_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/9_2.jpg' %}",
                rating: 6.89,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/34_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/34_2.jpg' %}",
                rating: 7.11,
                name: "example.jpg"
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/beautyisdataful/examples/33_1.jpg' %}",
                improved: "{% static 'img/beautyisdataful/examples/33_2.jpg' %}",
                rating: 7.07,
                name: "example.jpg"
            }]
        }},
    ];

    function checkAndDisplayResults(data, retryCount) {
        if (retryCount === undefined) {
            retryCount = 0;
        }

        $("#resultsmodal").modal("show");
        if (data.hasOwnProperty("result")){
            $('#originalImages').html("");
            $('#improvedImages').html("");
            allRatings = [];
//        data.result.images.sort(function(a, b){return b.rating-a.rating});
//            for (var i=0; i<data.result.images.length; i++)
                var i = 0;
                var imageData = data.result.images[i].results;

                var modelview = imageData.modelview;
                var projection = imageData.projection;
                var viewport = imageData.viewport;
                var indexs = imageData.indexs;
                var facefeatures = imageData.facefeatures;
                var new_facefeatures = imageData.new_facefeatures;

                setRenderParams(modelview, projection, viewport, indexs, facefeatures, new_facefeatures);

                //create original image
                var orig = $("<img>");
                orig.attr("src", resizedImages[i].dataUrl);
                orig.addClass("img-responsive");
                orig.appendTo('#originalImages');

                //add the ratings to the array
                allRatings.push(imageData.rating);

                //create the improved image, and convert to jpg for saving
                //create a download link
                var image = new Image();
                image.src = data.result.images[i].improved;
                $(image).attr("improved", data.result.images[i].improved);
                $(image).attr("orig", resizedImages[i].dataUrl);
                $(image).addClass("imgproved hoverImgToOrig col-xs-12");
                $(image).css("padding",1);

                $('#improvedImages').append(image);
//            }

            //set the rating
            $("#rating").html(parseFloat(allRatings[0]).toFixed(2));

            $(".hoverImgToOrig").hover(function(event){
                if (event.ctrlKey) {
                    $(event.target).attr("src", $(event.target).attr("orig"));
                }
            }, function(event) {
                $(event.target).attr("src", $(event.target).attr("improved"));
            });
            $(".hoverImgToOrig").click(function(event){
                if ($(event.target).attr("toggleOrig") === "true") {
                    $(image).attr("toggleOrig", false);
                    $(event.target).attr("src", $(event.target).attr("improved"));
                }else {
                    $(image).attr("toggleOrig", true);
                    $(event.target).attr("src", $(event.target).attr("orig"));
                }
            });

            $("#resultswaiting").hide();
            $("#resultserror").hide();
            $("#resultssucessful").show();
        }else {
            displayWaitingModal();
            if (retryCount < 10) {
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'api_GetResults' %}",
                        cache: false,
                        data: {
                            taskId: data.taskId,
                            type: "1"
                        },
                        success: function (data) {
                            if (data.status == "FAILURE") {
                                displayErrorModal(data.error);
                            } else {
                                checkAndDisplayResults(data, retryCount + 1);
                            }
                        },
                        error: function (data) {
                            displayErrorModal(data.statusText +"\n"+data.responseText.split("\n\n")[0]);
                        }
                    });
                }, 500 * (retryCount+1));
            } else {
                displayErrorModal("We were waiting too long, request timed out");
            }
        }
    }

    function displayWaitingModal(message) {
        $("#resultsmodal").modal("show");
        $("#resultswaiting").show();
        $("#resultserror").hide();
        $("#resultssucessful").hide();
        $("#resultserrorreason").html(message);
    }
    function displayErrorModal(message) {
        $("#resultsmodal").modal("show");
        $("#resultswaiting").hide();
        $("#resultserror").show();
        $("#resultssucessful").hide();
        $("#resultserrorreason").html(message);
    }

    function waitThenSubmitImages(imageselect) {
        if (resizedImages.length == imageselect.files.length) {
            var data = new FormData($("#uploadform")[0]);

            for (var i=0; i<resizedImages.length; i++){
                if (browser.name.includes("Edge") || browser.name.includes("IE")) {
                    data.append("images", dataURLToBlob(resizedImages[i].dataUrl));
                } else {
                    var resizedImage = new File([dataURLToBlob(resizedImages[i].dataUrl)], resizedImages[i].filename);
                    data.append("images", resizedImage);
                }
            }
            displayWaitingModal();

            var i = 0;
            PCAModelInit("{% static 'model/bfm_small.msg' %}", resizedImages[i].dataUrl);

            $.ajax({
                url: "{% url 'upload' %}",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                    checkAndDisplayResults(data);
                },
                error: function(data) {
                    alert("There was an error uploading images");
                }
            });

            //clear imageselect
            imageselect.value = "";
        }
    }

    function dataURLToBlob(dataURL) {
        var BASE64_MARKER = ';base64,';
        if (dataURL.indexOf(BASE64_MARKER) == -1) {
            var parts = dataURL.split(',');
            var contentType = parts[0].split(':')[1];
            var raw = parts[1];

            return new Blob([raw], {type: contentType});
        }

        var parts = dataURL.split(BASE64_MARKER);
        var contentType = parts[0].split(':')[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;

        var uInt8Array = new Uint8Array(rawLength);

        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], {type: contentType});
    }

    function correctImagesAndUpload(imageselect) {
        for (var i = 0; i < imageselect.files.length; i++) {
            var file = imageselect.files[i];

            // Ensure it's an image
            if (file.type.match(/image.*/)) {

                //ensure image is correct orientation and max size, handling safaris weird behavior
                if (browser.name.includes("Safari")) {
                    canvasResize(file, {
                        width: 512,
                        height: 0,
                        crop: false,
                        quality: 80,
                        callback: function(data, width, height) {
                            resizedImages.push({"filename":file.name, "dataUrl":data});
                            waitThenSubmitImages(imageselect);
                        }
                    });

                } else {
                    loadImage(
                        file,
                        function (canvas) {
                            var dataUrl = canvas.toDataURL('image/jpeg');

                            resizedImages.push({"filename":file.name, "dataUrl":dataUrl});

                            waitThenSubmitImages(imageselect);
                        },
                        {
                            maxWidth: 512,
                            maxHeight: 512,
                            orientation: true,
                            canvas: true
                        }
                    );
                }
            } else {
                displayErrorModal("The file you uploaded is not an image");
                return;
            }
        }
    }

    var resizedImages = [];
    $(function() {
        $('#imageselect_F').change(function(event) {
            if (!browser.name.includes("IE")) {
                resizedImages = [];
            }
            $("#uploadform > input[name='gender']").val("F");
            correctImagesAndUpload(event.target);
        });
        $('#imageselect_M').change(function(event) {
            if (!browser.name.includes("IE")) {
                resizedImages = [];
            }
            $("#uploadform > input[name='gender']").val("M");
            correctImagesAndUpload(event.target);
        });

        $("#examplebtn").click(function(event) {
            var i = $("#example_carousel > ul > li.active").index();
            var exampleData = examples[i];
            resizedImages = [{dataUrl:exampleData.result.images[0].original}];
            checkAndDisplayResults(exampleData);
        });

        var midI = parseInt(examples.length / 2);
        for (var i=0; i<examples.length; i++) {
            var exampleLi = $("<li>");
            var exampleIm = new Image();
            exampleIm.onload = function (imageEvent) {
                slideToNextActive(0);
            };
            exampleIm.src = examples[i].result.images[0].original;
            if(i==midI) {
                exampleLi.addClass("active");
            }
            exampleLi.append(exampleIm);
            $("#example_carousel > ul").append(exampleLi);
        }
        slideToNextActive(0);
    });
</script>
{% endblock %}

{% block content_block %}
<div class="row center-text">
    <h1 class="title">Objctify Me</h1>
</div>
<div class="row center-text">
    <h4>Use Deep Learning to rate your attractiveness and then tweak the photo to make it better!*</h4>
</div>

<div class="row" style="margin-top: 30px;">
    <p>Try it out on our example set below or upload your own:</p>
    <div id="example_carousel">
        <ul>
        </ul>
        <a class="left carousel-control" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" role="button">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row">
    <label id="examplebtn" class="btn btn-default col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        Use example photo
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="margin-left: 6px;"></span>
    </label>
</div>

<div class="row center-text" style="margin-top:20px;">
    <p>Upload your own (your images will not be made public):</p>
</div>

<div class="row">
    <label class="btn btn-info btn-file col-xs-6 col-sm-4 col-md-3 col-sm-offset-1 col-md-offset-2 textwrap">
        Female
        <span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-left: 6px;"></span>
        <input id="imageselect_F" class="btn" type="file" accept="image/*" style="display: none;">
    </label>
    <label class="btn btn-primary btn-file col-xs-6 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-2 textwrap">
        Male
        <span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-left: 6px;"></span>
        <input id="imageselect_M" class="btn" type="file" accept="image/*" style="display: none;">
    </label>
    <form id="uploadform" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="type" value="1">
        <input type="hidden" name="gender" value="F">
    </form>
</div>

<div class="row" style="margin-top:40px;">
    <p>*Disclaimer: Objctify.Me is trained on data gathered from Reddit's /r/RateMe (see <a href="{% url 'about' %}">How it works</a>), and probably suffers from huge cultural bias. Don't take the results seriously.
        <br>
    Uploaded data may be stored for caching and processing, but will never be shared with others.</p>
</div>
{% endblock %}

{% block end_body_block %}
<div id="resultsmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div id="resultswaiting" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Waiting:</h4>
            </div>
            <div class="modal-body">
                <p>Hold tight while we process your image.</p>
            </div>
        </div>
        <div id="resultserror" class="modal-content" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error:</h4>
            </div>
            <div class="modal-body">
                <h2>Sorry!</h2>
                <p>There has been an error processing the image you uploaded:</p>
                <p id="resultserrorreason">No Reason Given</p>
            </div>
        </div>
        <div id="resultssucessful" class="modal-content" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Results:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Our algorithm rates you:</p>
                        <span id="rating" style="font-size: 50px; font-weight: bold;">1</span>

                        <p>Below you can see the 3D reconstruction of your face, and our suggested tweaks.<br>(use the sliders to change the image)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <canvas id="warpCanvas" class="img-responsive"></canvas>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-lg">
                            <label class="control-label" for="coeffGender">Gender:</label>
                            <input type="range" id="coeffGender" value="0" min="-5" max="5" step="0.1">
                        </div>

                        <div class="form-group form-group-lg">
                            <label class="control-label" for="coeffAge">Age:</label>
                            <input type="range" id="coeffAge" value="0" min="-5" max="5" step="0.1">
                        </div>

                        <div class="form-group form-group-lg">
                            <label class="control-label" for="coeffWeight">Weight:</label>
                            <input type="range" id="coeffWeight" value="0" min="-5" max="5" step="0.1">
                        </div>

                        <div class="form-group form-group-lg">
                            <label class="control-label" for="coeffHeight">Height:</label>
                            <input type="range" id="coeffHeight" value="0" min="-5" max="5" step="0.1">
                        </div>

                        <button id="default">Reset to original</button>
                        <button id="suggested">Use suggested settings</button>
                        <div class="form-group form-group-lg">
                            <label class="control-label" for="showlandmarks">Show Landmarks:</label>
                            <input type="checkbox" id="showlandmarks">
                        </div>
                        <div class="form-group form-group-lg">
                            <label class="control-label" for="showgrid">Show Grid:</label>
                            <input type="checkbox" id="showgrid">
                        </div>
                        <div id="3dcanvas" style="width:500px; height:500px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}