{% extends 'objctify/base.html' %}
{% load staticfiles %}


{% block head_block %}
<style>
    body {
        overflow-x: hidden;
    }
    .scrolls-x {
        overflow-x: auto;
        overflow-y: hidden;
        height: 150px;
        white-space:nowrap
    }
    .scrolls-x img {
        position: relative;
        height:100%;
    }

    .btn-center {
        margin: auto;
        width: 20%;
        display: block;
    }

    #example_carousel {
        position: relative;
        height: 200px;
    }
    #example_carousel ul{
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 20000em;
        white-space:nowrap;
        transition-duration: 200ms;
        transition-timing-function: linear;
    }
    #example_carousel ul li {
        float: left;
    }
    #example_carousel ul li img {
        position: relative;
        height: 100%;
    }
    #example_carousel ul li.active img {
        position: relative;
        height: 120%;
        margin-top: -8%;
    }
</style>
<script>
    var examples = [
        {result: {
            images: [{
                original: "{% static 'img/examples/lena.bmp' %}",
                improved: "https://lh4.ggpht.com/wKrDLLmmxjfRG2-E-k5L5BUuHWpCOe4lWRF7oVs1Gzdn5e5yvr8fj-ORTlBF43U47yI=w300",
                rating: 5.2
            }]
        }},
        {result: {
            images: [{
                original: "{% static 'img/examples/test.png' %}",
                improved: "https://i.vimeocdn.com/portrait/58832_300x300",
                rating: 5.8
            }]
        }},
    ];

    function checkAndDisplayResults(data, retryCount) {
        if (retryCount === undefined) {
            retryCount = 0;
        }

        $("#resultsmodal").modal("show");
        if (data.hasOwnProperty("result")){
            $('#originalImages').html("");
            $('#improvedImages').html("");
            allRatings = [];
//        data.result.images.sort(function(a, b){return b.rating-a.rating});
            for (var i=0; i<data.result.images.length; i++) {
                //create original image
//                var orig = $('<img id="orig_'+i+'">');
//                orig.attr("src", resizedImages[i].dataUrl);
//                orig.appendTo('#originalImages');

                //add the ratings to the array
                allRatings.push(data.result.images[i].rating);

                //create the improved image, and convert to jpg for saving
                //create a download link
                var filename = data.result.images[i].name.split(".")[0];
                var link = $("<a download='"+filename+".jpg'></a>");
                var image = new Image();
                image.onload = function () {
                    var canvas = document.createElement('canvas');
                    canvas.width = this.naturalWidth; // or 'width' if you want a special/scaled size
                    canvas.height = this.naturalHeight; // or 'height' if you want a special/scaled size

                    canvas.getContext('2d').drawImage(this, 0, 0);

                    link.attr("href", canvas.toDataURL('image/jpeg'));
                };
                image.src = data.result.images[i].improved;
                $(image).attr("improved", data.result.images[i].improved);
                $(image).attr("orig", resizedImages[i].dataUrl);
                $(image).addClass("hoverImpToOrig");

                link.append(image);
                link.appendTo('#improvedImages');
            }

            //set the rating
            $("#rating").html(allRatings[0]);

            $(".hoverImpToOrig").hover(function(event){
                if (event.ctrlKey) {
                    $(event.target).attr("src", $(event.target).attr("orig"));
                }
            }, function(event) {
                $(event.target).attr("src", $(event.target).attr("improved"));
            });

            $("#resultswaiting").hide();
            $("#resultssucessful").show();
        }else {
            $("#resultswaiting").show();
            $("#resultssucessful").hide();
            if (retryCount < 10) {
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'api_GetResults' %}",
                        cache: false,
                        data: {
                            taskId: data.taskId,
                            type: "1"
                        },
                        success: function (data) {
                            checkAndDisplayResults(data, retryCount+1);
                        },
                        error: function (data) {
                            console.log("error polling the faceswap server");
                        }
                    });
                }, 500);
            } else {
                console.log("error retried too many times")
            }
        }
    }

    function uploadImages() {
        if (resizedImages.length == $('#imageselect')[0].files.length) {
            var data = new FormData($("#uploadform")[0]);

            for (var i=0; i<resizedImages.length; i++){
                var resizedImage = new File([dataURLToBlob(resizedImages[i].dataUrl)], resizedImages[i].filename);
                data.append("images", resizedImage);
            }

            $.ajax({
                url: "{% url 'upload' %}",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                    checkAndDisplayResults(data);
                },
                error: function(data) {
                    alert("There was an error uploading images");
                }
            });
        }
    }

    function dataURLToBlob(dataURL) {
        var BASE64_MARKER = ';base64,';
        if (dataURL.indexOf(BASE64_MARKER) == -1) {
            var parts = dataURL.split(',');
            var contentType = parts[0].split(':')[1];
            var raw = parts[1];

            return new Blob([raw], {type: contentType});
        }

        var parts = dataURL.split(BASE64_MARKER);
        var contentType = parts[0].split(':')[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;

        var uInt8Array = new Uint8Array(rawLength);

        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], {type: contentType});
    }

    function resizeImageFile(file) {
        // Load the image
        var reader = new FileReader();
        reader.onload = function (readerEvent) {
            var image = new Image();
            image.onload = function (imageEvent) {
                // Resize the image
                var canvas = document.createElement('canvas'),
                        max_size = 512,
                        width = image.width,
                        height = image.height;
                if (width > height) {
                    if (width > max_size) {
                        height *= max_size / width;
                        width = max_size;
                    }
                } else {
                    if (height > max_size) {
                        width *= max_size / height;
                        height = max_size;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                canvas.getContext('2d').drawImage(image, 0, 0, width, height);
                var dataUrl = canvas.toDataURL('image/webp');

                resizedImages.push({"filename":file.name, "dataUrl":dataUrl});

                uploadImages();
            };
            image.src = readerEvent.target.result;
        };
        reader.readAsDataURL(file);
    }

    function slideToNextActive(direction) {
        var currentActive = $("#example_carousel > ul > li.active");
        if (direction > 0) {
            var nextActive = $("#example_carousel > ul > li.active").next();
            if (nextActive.length > 0) {
                currentActive.removeClass("active");
                nextActive.addClass("active");
            }
        }else if (direction < 0) {
            var nextActive = $("#example_carousel > ul > li.active").prev();
            if (nextActive.length > 0) {
                currentActive.removeClass("active");
                nextActive.addClass("active");
            }
        }

        var newMidPoint = $("#example_carousel").width()/2;
        newMidPoint = newMidPoint - $("#example_carousel > ul > li.active").position().left;
        newMidPoint = newMidPoint - $("#example_carousel > ul > li.active img").width()/2;
        $("#example_carousel > ul").css("left",newMidPoint);
    }

    var resizedImages = [];
    $(function() {
        $('#imageselect').change(function(event) {
            resizedImages = [];
            //for each file
            for (var i = 0; i < event.target.files.length; i++) {
                var file = event.target.files[i];

                // Ensure it's an image
                if (file.type.match(/image.*/)) {
                    resizeImageFile(file);
                } else {
                    alert("The file you uploaded is not an image");
                    return;
                }
            }
        });

        $("#examplebtn").click(function(event) {
            var i = $("#example_carousel > ul > li.active").index();
            var exampleData = examples[i];
            resizedImages = [exampleData.result.images[0].original];
            checkAndDisplayResults(exampleData);
        });

        $("#example_carousel > a.right.carousel-control").click(function() {
            slideToNextActive(1);
        });
        $("#example_carousel > a.left.carousel-control").click(function() {
            slideToNextActive(-1);
        });
        $(window).on('resize', function(){
            slideToNextActive(0);
        });

        var midI = parseInt(examples.length / 2);
        for (var i=0; i<examples.length; i++) {
            var exampleLi = $("<li>");
            var exampleIm = new Image();
            exampleIm.onload = function (imageEvent) {
                slideToNextActive(0);
            };
            exampleIm.src = examples[i].result.images[0].original;
            if(i==midI) {
                exampleLi.addClass("active");
            }
            exampleLi.append(exampleIm);
            $("#example_carousel > ul").append(exampleLi);
        }
        slideToNextActive(0);
    });
</script>
{% endblock %}

{% block content_block %}
<div class="row center-text">
    <h1 class="title">Objctify Me</h1>
</div>
<div class="row center-text">
    <h2>Our Artificial Intelligence algorithms rate your attractiveness and then tweak the photo to make it better!</h2>
</div>

<div class="row">
    <p>Try our examples or upload your own below:</p>
    <div id="example_carousel">
        <ul>
        </ul>
        <a class="left carousel-control" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" role="button">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row">
    <label id="examplebtn" class="btn btn-primary col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        Use this photo
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="margin-left: 6px;"></span>
    </label>
</div>

<div class="row center-text" style="margin:20px;">
    Or
</div>

<div class="row">
    <label class="btn btn-info btn-file col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        Upload Your Own
        <span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-left: 6px;"></span>
        <input id="imageselect" class="btn" type="file" accept="image/*" capture="camera" multiple style="display: none;">
    </label>
    <form id="uploadform" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="type" value="1">
    </form>
</div>

<div class="row">
    <p>Disclaimer: Objctify.Me is trained on data gathered from reddits r/RateMe (see <a href="{% url 'about' %}">How it works</a>), and probably suffers from huge cultural bias. Don't take the results too seriously.</p>
    <p>Uploaded data may be stored in order to improve the algorithm, but will not be shared with others</p>
</div>
{% endblock %}

{% block end_body_block %}
<div id="resultsmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div id="resultswaiting" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Waiting:</h4>
            </div>
            <div class="modal-body">
                <p>Hold tight while we process your image.</p>
            </div>
        </div>
        <div id="resultssucessful" class="modal-content" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Results:</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align: center">
                    <p>Our algorithms rate you:</p>
                    <span id="rating" style="font-size: 50px; font-weight: bold;">1</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>Below are our tweaked images (ctrl+hover over them to see the original):</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="improvedImages" class="scrolls-x">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}