.navbar-brand {
    font-family: 'Pacifico', cursive;
}
h4 {
    font-family: 'Oswald', sans-serif;
}

.profile {
    text-align: center
}
.profile img{
    width:180px;
    height:240px;

    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.title {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    margin: 30px;
}

.textwrap {
    white-space: normal;
}

@media (max-width: 767px) {
  .hidden-xs-down {
    display: none !important;
  }
}